.topAnime {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: space-evenly;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 5%;
}

.topAnime > div {
  margin: 30px;
}

#card {
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#reviews {
  margin-top: 2%;
}
